.solias-btn {
  display: block;
  font-size: var(--solias-default-font-size);
  padding: 0.5rem;
  border: 0.0625rem solid var(--solias-color-outline);
  outline: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
