/* Light Theme */
.light {
  --solias-color-primary: rgb(68 94 145);
  --solias-color-surface-tint: rgb(68 94 145);
  --solias-color-on-primary: rgb(255 255 255);
  --solias-color-primary-container: rgb(216 226 255);
  --solias-color-on-primary-container: rgb(0 26 65);
  --solias-color-secondary: rgb(87 94 113);
  --solias-color-on-secondary: rgb(255 255 255);
  --solias-color-secondary-container: rgb(219 226 249);
  --solias-color-on-secondary-container: rgb(20 27 44);
  --solias-color-tertiary: rgb(113 85 115);
  --solias-color-on-tertiary: rgb(255 255 255);
  --solias-color-tertiary-container: rgb(251 215 252);
  --solias-color-on-tertiary-container: rgb(41 19 45);
  --solias-color-error: rgb(186 26 26);
  --solias-color-on-error: rgb(255 255 255);
  --solias-color-error-container: rgb(255 218 214);
  --solias-color-on-error-container: rgb(65 0 2);
  --solias-color-background: rgb(249 249 255);
  --solias-color-on-background: rgb(26 27 32);
  --solias-color-surface: rgb(249 249 255);
  --solias-color-on-surface: rgb(26 27 32);
  --solias-color-surface-variant: rgb(225 226 236);
  --solias-color-on-surface-variant: rgb(68 71 79);
  --solias-color-outline: rgb(116 119 127);
  --solias-color-outline-variant: rgb(196 198 208);
  --solias-color-shadow: rgb(0 0 0);
  --solias-color-scrim: rgb(0 0 0);
  --solias-color-inverse-surface: rgb(47 48 54);
  --solias-color-inverse-on-surface: rgb(240 240 247);
  --solias-color-inverse-primary: rgb(173 198 255);
  --solias-color-primary-fixed: rgb(216 226 255);
  --solias-color-on-primary-fixed: rgb(0 26 65);
  --solias-color-primary-fixed-dim: rgb(173 198 255);
  --solias-color-on-primary-fixed-variant: rgb(43 70 120);
  --solias-color-secondary-fixed: rgb(219 226 249);
  --solias-color-on-secondary-fixed: rgb(20 27 44);
  --solias-color-secondary-fixed-dim: rgb(191 198 220);
  --solias-color-on-secondary-fixed-variant: rgb(63 71 89);
  --solias-color-tertiary-fixed: rgb(251 215 252);
  --solias-color-on-tertiary-fixed: rgb(41 19 45);
  --solias-color-tertiary-fixed-dim: rgb(222 188 223);
  --solias-color-on-tertiary-fixed-variant: rgb(88 62 91);
  --solias-color-surface-dim: rgb(217 217 224);
  --solias-color-surface-bright: rgb(249 249 255);
  --solias-color-surface-container-lowest: rgb(255 255 255);
  --solias-color-surface-container-low: rgb(243 243 250);
  --solias-color-surface-container: rgb(237 237 244);
  --solias-color-surface-container-high: rgb(232 231 238);
  --solias-color-surface-container-highest: rgb(226 226 233);
  --solias-color-surface-hover: rgb(217 217 224);
}

/* Dark Theme */
.dark {
  --solias-color-primary: rgb(173 198 255);
  --solias-color-surface-tint: rgb(173 198 255);
  --solias-color-on-primary: rgb(16 47 96);
  --solias-color-primary-container: rgb(43 70 120);
  --solias-color-on-primary-container: rgb(216 226 255);
  --solias-color-secondary: rgb(191 198 220);
  --solias-color-on-secondary: rgb(41 48 65);
  --solias-color-secondary-container: rgb(63 71 89);
  --solias-color-on-secondary-container: rgb(219 226 249);
  --solias-color-tertiary: rgb(222 188 223);
  --solias-color-on-tertiary: rgb(64 40 67);
  --solias-color-tertiary-container: rgb(88 62 91);
  --solias-color-on-tertiary-container: rgb(251 215 252);
  --solias-color-error: rgb(255 180 171);
  --solias-color-on-error: rgb(105 0 5);
  --solias-color-error-container: rgb(147 0 10);
  --solias-color-on-error-container: rgb(255 218 214);
  --solias-color-background: rgb(17 19 24);
  --solias-color-on-background: rgb(226 226 233);
  --solias-color-surface: rgb(17 19 24);
  --solias-color-on-surface: rgb(226 226 233);
  --solias-color-surface-variant: rgb(68 71 79);
  --solias-color-on-surface-variant: rgb(196 198 208);
  --solias-color-outline: rgb(142 144 153);
  --solias-color-outline-variant: rgb(68 71 79);
  --solias-color-shadow: rgb(0 0 0);
  --solias-color-scrim: rgb(0 0 0);
  --solias-color-inverse-surface: rgb(226 226 233);
  --solias-color-inverse-on-surface: rgb(47 48 54);
  --solias-color-inverse-primary: rgb(68 94 145);
  --solias-color-primary-fixed: rgb(216 226 255);
  --solias-color-on-primary-fixed: rgb(0 26 65);
  --solias-color-primary-fixed-dim: rgb(173 198 255);
  --solias-color-on-primary-fixed-variant: rgb(43 70 120);
  --solias-color-secondary-fixed: rgb(219 226 249);
  --solias-color-on-secondary-fixed: rgb(20 27 44);
  --solias-color-secondary-fixed-dim: rgb(191 198 220);
  --solias-color-on-secondary-fixed-variant: rgb(63 71 89);
  --solias-color-tertiary-fixed: rgb(251 215 252);
  --solias-color-on-tertiary-fixed: rgb(41 19 45);
  --solias-color-tertiary-fixed-dim: rgb(222 188 223);
  --solias-color-on-tertiary-fixed-variant: rgb(88 62 91);
  --solias-color-surface-dim: rgb(17 19 24);
  --solias-color-surface-bright: rgb(55 57 62);
  --solias-color-surface-container-lowest: rgb(12 14 19);
  --solias-color-surface-container-low: rgb(26 27 32);
  --solias-color-surface-container: rgb(30 31 37);
  --solias-color-surface-container-high: rgb(40 42 47);
  --solias-color-surface-container-highest: rgb(51 53 58);
  --solias-color-surface-hover: rgb(55 57 62);
}

* {
  --solias-default-font-size: 0.875rem;
  --solias-gutter-space: 1rem;
}