<div class="solias__container">
  <h3>Native Form Controls</h3>
  <div class="solias__grid">
    <div class="cell-3">
      <label for="txt-input">First name</label>
      <input
        type="text"
        name="txt-input"
        id="txt-input"
        placeholder="Enter name"
      />
    </div>
    <div class="cell-3">
      <label for="number-input">Age</label>
      <input
        type="number"
        name="number-input"
        id="number-input"
        placeholder="Enter age"
      />
    </div>
    <div class="cell-3">
      <label for="pw-input">Password</label>
      <input
        type="password"
        name="pw-input"
        id="pw-input"
        placeholder="Enter password"
      />
    </div>
    <div class="cell-3">
      <label for="country">Country</label>
      <select name="country" id="country">
        <option value="lk">Sri Lanka</option>
        <option value="jp">Japan</option>
      </select>
    </div>
    <div class="cell-3">
      <label for="remarks">Remarks</label>
      <textarea name="remarks" id="remarks"></textarea>
    </div>
  </div>
  <div class="solias__container">
    <h3>Native Form Controls</h3>
    <div class="solias__grid">
      <button class="solias-btn solias-btn--primary">Click</button>
      <button class="solias-btn solias-btn--secondary">Click</button>
      <button class="solias-btn solias-btn--tertiary">Click</button>
      <button class="solias-btn solias-btn--error">Click</button>
    </div>
  </div>
</div>
